@import url("https://fonts.googleapis.com/css?family=Gothic+A1:400,900&display=swap");

body {
  margin: 0;
  font-family: "Gothic A1", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

$theme-colors: (
  "primary": #db4139,
  "secondary": #203864,
  "third": #ffffff,
);

.cardBtn {
  margin: 0 10px 10px 0;
}

.clickable {
  cursor: pointer;
}
.navbar.header {
  @media (max-width: 460px) {
    .hide-on-overflow {
      display: none;
    }
  }
}
.navbar-footer {
  padding: 10px 5px;
  text-align: center;
}
.disclaimer {
  color: gray;
  font-size: 10px;
}

.full-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 9999;

  @media (max-width: 800px) {
    .center {
      div.title {
        font-size: 20px;
      }
    }
  }
}
.splash {
  background-color: white;
  .center {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    img.logo {
      opacity: 0;
      padding-top: 50px;
      max-width: 400px;
      width: 40vw;
      height: auto;
    }
    div.title {
      opacity: 0;
      padding-top: 50px;
      font-size: 30px;
      font-weight: bold;
    }
  }
}
@media (min-width: 801px) {
  .only-mobile {
    visibility: hidden;
  }
}
.transition-style-2000ms-500ms {
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1) 1400ms;
  -moz-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1) 1400ms;
  -o-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1) 1400ms;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1) 1400ms;

  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.transition-style-0ms-500ms {
  -webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);

  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.transition-style-300ms-500ms {
  -webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 600ms;
  -moz-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 600ms;
  -o-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 600ms;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 600ms;

  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.visual-showout {
  opacity: 0 !important;
  visibility: hidden;
}
.visual-showup {
  opacity: 1 !important;
}
@import "~bootstrap/scss/bootstrap";
